<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.tensoft.gaoxiao.dao.TbRoleUserMapper">


	<insert id="add" parameterType="org.tensoft.gaoxiao.model.TbRoleUser">
		insert into tb_role_user(r_id,u_id,t_create_time)
		values(#{rId,jdbcType=INTEGER},#{uId,jdbcType=INTEGER},#{tCreateTime ,jdbcType=TIMESTAMP})

	</insert>

</mapper>