<!-- BEGIN TAB CONTENT -->
<div class="tab-content">
<!-- START TAB 1 -->
<div id="tab_1" class="tab-pane active">
    <div id="accordion1" class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    问题咨询
                </h4>
            </div>
            <div id="accordion1_1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <form class="form-horizontal" id="adfrom" role="form" method="post" >
                        <div class="form-body">

                            <div class="form-group">
                                <label class="col-md-3 control-label">问题标题</label>
                                <div class="col-md-9">
                                    <input type="text" name="bt" class="form-control" id="bt" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">

                                <label class="col-md-3 control-label">问题描述</label>
                                <div class="col-md-9">
                                        <textarea name="nr" class="form-control" id="nr" rows="5"></textarea>
                                        <div style="float: right;margin-right: 20px;padding-right: 10px"><p id="show" style="font-size: 14px;font-weight: bold;height: 40px;line-height: 40px;">
                                            您还可以输入：<label id="sid" style="font-size: 22px;font-weight: bold;color: #009900;font-style: italic;"></label>
                                        </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">联系电话</label>
                                <div class="col-md-5">

                                        <input type="text" name="lxdh" id="lxdh" class="form-control" placeholder="请填写手机号码">

                                </div> <div class="col-md-3" style="text-align: right">
                                <button type="submit" id="btf"  class="btn green" style="width: 50%" >提交</button>
                                <input type="hidden" name="yhid" value="1" >
                                <input type="hidden" name="yhcpid" value="1" >
                            </div>
                            </div>
                            <div class="row margin-bottom-40">

                            </div>
                            <div class="row margin-bottom-40">

                            </div>

                            </div>
                    </form> </div>
            </div>
        </div>
    </div>
</div>
<!-- END TAB 1 -->
</div>
<!-- END TAB CONTENT -->